In [36]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [37]:
data=pd.read_csv('/kaggle/input/titanic/train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [39]:
import pandas as pd

class SimpleImputer:
    def __init__(self, data):
        self.data = data
        self.missing_data = []

    def identify_missing_data(self):
        for column in self.data.columns:
            if self.data[column].isnull().sum() > 0:
                self.missing_data.append(column)

    def impute_missing_values(self, strategy):
        for column in self.missing_data:
            if self.data[column].dtype != "object":
                if strategy.lower() == "mean":
                    mean_value = self.data[column][self.data[column] != 'NA'].astype(float).mean()
                    self.data[column].fillna(mean_value, inplace=True)

                elif strategy.lower() == "median":
                    median_value = self.data[column][self.data[column] != 'NA'].astype(float).median()
                    self.data[column].fillna(median_value, inplace=True)

                elif strategy.lower() == "mode":
                    mode_value = self.data[column][self.data[column] != 'NA'].astype(float).mode().iloc[0]
                    self.data[column].fillna(mode_value, inplace=True)

            elif self.data[column].dtype == "object":
                mode_value = self.data[column].mode().iloc[0]
                self.data[column].fillna(mode_value, inplace=True)

    def get_imputed_data(self):
        return self.data

if __name__ == "__main__":
    file_path = '/kaggle/input/titanic/test.csv'
    data = pd.read_csv(file_path)

    imputer = SimpleImputer(data)
    imputer.identify_missing_data()
    imputer.impute_missing_values("mode")

    imputed_data = imputer.get_imputed_data()
    print(imputed_data)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare  \
0      male  34.5      0      0              330911    7.8292
1    female  47.0      1      0              363272    7.0000
2      male  62.0      0      0              240276    9.6875
3      male  27.0      0      0              315154    8.6625
4    female  22.0      1      1             3101298   12.2875
..      ...   ...    ...    ...                 ...       ...
413    male  21.0      0      0           A.5. 3236    8.0500
414  female  39.0      0      0            PC 17758  108.9000
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500
416    male  21.0      0      0              359309    8.0500
417    male  21.0      1      1                2668   22.3583

               Cabin Embarked
0    B57 B59 B63 B66        Q
1    B57 B59 B63 B66        S
2    B57 B59 B63 B66        Q
3    B57 B59 B63 B66        S
4    B57 B59 B63 B66        S
..               ...      ...
413  B57 B59 B63 B66        S
414             C105        C
415  B57 B59 B63 B66        S
416  B57 B59 B63 B66        S
417  B57 B59 B63 B66        C

[418 rows x 11 columns]

In [40]:
data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64